.cabecera {
    height: 80px;
    width: 100%;
    background-image: url('../../resource/header/background1.jpg');
}

.cabecera-logo {
    padding-top: 25px;
    padding-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #191970;
}

